<div class="box main">
    <div class="main-content">
    {{template "/common/service-contact-list.html" .}}
        <div class="card item align-left">
            <div class="title">
                <h3>
                {{.article.Title}}
                </h3>
                <div class="clr"></div>
            </div>
            <div class="content">
                <div class="detailed">
                    <h5>{{.article.Title}}</h5>
                    <div class="article">
                        <span>发表时间：{{dateformat .article.Created "2006-01-02 15:04:05"}}</span>[ 阅读次数：{{.article.ViewNum}} ]
                    </div>
                    {{if .article.MainImg}}
                    <div class="text_c">
                        <img src="{{.article.MainImg}}">
                    </div>
                    {{end}}
                    {{str2html .article.Content}}
                    <div class="fanye">
                        <div>上一页：无上一条 下一页：无下一条</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/static/js/swiper-4.1.6.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.liMarquee.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',//水平 horizontal   垂直  vertical
        loop: true,
        autoplay: {
            delay: 2000,
            stopOnLastSlide: false,
            disableOnInteraction: true,
        },
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // 如果需要滚动条
        // scrollbar: {
        //   el: '.swiper-scrollbar',
        // },
    })
    $(function () {
        $('.marquee-wrap').liMarquee({
            direction: 'up',
            circular: true
        });
        $('.tempWrap').liMarquee({
            circular: true
        });
    });
</script>
