<div class="left-sibar align-left card">
    <div class="title">
        <h3>
            <a href="/services.html"><div class="icon-more">more>></div></a>
            <span>服务项目</span>
        </h3>
        <div class="clr"></div>
    </div>
    <ul>
    {{range .services}}
        <li><a href="/article/{{.Id}}.html">》{{.Title}}</a></li>
    {{end}}
    </ul>
    <div class="title">
        <h3>
            <a><div class="icon-more">more>></div></a>
            <span>联系我们</span>
        </h3>
        <div class="clr"></div>
    </div>
    <div class="about-me">
        <p></p>
        <p>
        {{.systemConfig.CompanyCn}}
        </p>
        <p>
            联系人：{{.systemConfig.CompanyPerson}}
        </p>
        <p>
            联系电话/微信：{{.systemConfig.CompanyPhone}}
        </p>
        <p>
            公司电话：{{.systemConfig.CompanyPhone}}
        </p>
        <p>
            邮箱：{{.systemConfig.CompanyMail}}
        </p><p></p>
    </div>
</div>