<!--顶部-->
<div class="box top">
    <div class="company-name">
        <div class="cn-name">
            {{.websiteCn}}
            <div class="en-name">{{.websiteEn}}</div>
        </div>
    </div>
    <div class="company-phone">电话 {{.websitePhone}}</div>
</div>
<!--导航栏-->
<div class="box nav-bar">
    <a href="/" class="nav-bar-item">
        网站首页
    </a>
    <a href="/about.html" class="nav-bar-item">
        公司简介
    </a>
    <a href="/services.html" class="nav-bar-item">
        服务项目
    </a>
    <a href="/examples.html" class="nav-bar-item">
        工程案例
    </a>
    <a href="/contact.html" class="nav-bar-item">
        联系我们
    </a>
</div>